<%- include('../partials/header') %>

<a href="/products">Back</a>
<h1><%= product.title %></h1>
<p><%= product.description %></p>
<p><strong>Create At: </strong><%= product.createdAt %></p>

<h2>Reviews</h2>

<form action="/products/<%= product.id %>/reviews" method="post">
  <div>
    <textarea id="content" name="content"></textarea>
  </div>
  <div>
    <input id="rating" name="rating"/>
  </div>
  <input type="submit" name="submit" value="Submit"/>
</form>

<ul class="answers-list">
  <% for (let review of reviews) { %>
    <li>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
      <p><strong>Created At: <%= review.createdAt %></strong></p>
    </li>
    <% } %>
</ul>

<%- include('../partials/footer') %>
